<div class="row" style="margin-bottom: 15px;">
    <div class="fullscreenDivCurrencyPay">
        <div class="col-sm-12">
            <p-panel header="Local & Forex Currency Payment" [toggleable]="true">
                <ng-template pTemplate="icons">
                    <button pButton class="p-panel-header-icon p-link" (click)="toggleFullscreen()"><i [ngClass]="isFullscreen ? 'pi pi-window-minimize' : 'pi pi-window-maximize'"></i></button>
                </ng-template>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cardView">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="chartdivCurrencyPay"  class="chartComponentsPart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
</div>
