<div style="margin-top: 15px;" *ngFor="let card of Cards">
    <p-card class="cardStyle cardStyle1" [style]="{height: '100px', width:'100%'}" styleClass="shadow-2">
        <img class="dashboardCardIcon" src="../../../../assets/img/prpr.png">
        <div class="contentPlace">
            <!-- <p>{{ card.category }}</p> -->
            <!-- <p class="CardHeadPara">Total Advance (PI)</p>
            <p>{{ card.value }}</p> -->
            <a class="CardHeadPara" [routerLink]="['/main/advance-payment/list']" target="_blank">Total Advance (PI)</a><br>
            <a class="CardHeadPara" [routerLink]="['/main/advance-payment/list']" target="_blank">{{ card.value }}</a>
        </div>
        <ng-template pTemplate="footer">
            <a class="dashboardCardFoo" [routerLink]="['/main/advance-payment/list', 'Draft']" [queryParams]="{status:'Draft'}" target=_blank>Draft Advance<span> - {{ card.lowerValue }}</span></a>
        </ng-template>
    </p-card>
</div>