<div style="margin-top: 15px;" *ngFor="let card of Cards">
    <p-card class="cardStyle cardStyle1" [style]="{height: '100px', width:'100%'}" styleClass="shadow-2">
        <img class="dashboardCardIcon" src="../../../../assets/img/prpr.png">
        <div class="contentPlace">
            <a class="CardHeadPara" [routerLink]="['/main/grn/list', 'Received']" target="_blank">Total Received GRN</a><br>
            <a class="CardHeadPara" [routerLink]="['/main/grn/list', 'Received']" target="_blank">{{ card.value }}</a>
            <!-- <p>{{ card.value }}</p> -->
        </div>
        <ng-template pTemplate="footer">
            <a class="dashboardCardFoo" [routerLink]="['/main/grn/list', 'Returned']" target="_blank">
                <!-- {{ card.category2}} -->
                Total Return GRN
                <span> - {{ card.value1 }}</span></a>
        </ng-template>
    </p-card>
</div>
