<div style="margin-top: 15px;" *ngFor="let card of Cards">
    <p-card class="cardStyle cardStyle3" [style]="{height: '100px', width:'100%'}" styleClass="shadow-2" >
        <img class="dashboardCardIcon" src="../../../../assets/img/pppp.png">
        <div class="contentPlace">
            <!-- <p class="CardHeadPara">Recently Created Invoice Bills</p>
            <p>{{ card.value }}</p> -->
            <a class="CardHeadPara" [routerLink]="['/main/apinvoice/list','Recent']" target="_blank">Recently Created Invoice Bills</a><br>
            <a class="CardHeadPara" [routerLink]="['/main/apinvoice/list','Recent']" target="_blank">{{ card.value }}</a>
        </div>
        <ng-template pTemplate="footer">
            <a class="dashboardCardFoo" [routerLink]="['/main/apinvoice/list']" target="_blank">
                Total Bills for AP Invoice
                <span> - {{ card.lowerValue }}</span></a>
        </ng-template>
    </p-card>
</div>